<div  class="container">
  <div class="box">
    <h2>Reset Password</h2>

    <p class="text-center">Please enter your email address to request a password reset.</p>

    <div class="formGroup">
      <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup">
      <button type="submit" class="btn btn-primary"  (click)="forgotpassword(passwordResetEmail.value)">Reset Password</button>
    </div>


    <div class="redirectToLogin">
    <span> Go back to ? <strong><span class="redirect" routerLink="/login">Sign In</span></strong></span>
    </div>

  </div>
</div>

